* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inter, Arial, Verdana, Tahoma, sans-serif;
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 3rem;
    padding: 1rem;
  }

  .navbar .shortcuts {
    display: none;
  }

  h2 {
    color: #172b4d;
    font-size: 2.5rem;
    line-height: 3.25rem;
    font-weight: 700;
  }

  .navbar h2 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
  }

  .options {
    width: 1.5rem;
    height: 1.5rem;
  }

  .social i {
    font-size: 2rem;
    color: #505f79;
  }

  .options i {
    color: #505f79;
    font-size: 1.5rem;
  }

  .social i:hover {
    color: #36b37e;
  }

  .options i:hover {
    color: #36b37e;
  }

  .work-info li {
    background-color: #ebf0ee;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: #3a4a42;
  }

  #homepage {
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    background-image: url(./images/header-illsutration-mobile@2x.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
  }

  #homepage h1 {
    color: #172b4d;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
  }

  #homepage h1 span {
    color: #36b37e;
  }

  #homepage p,
  #aboutme-section p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    color: #172b4d;
  }

  .socials {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 60vw;
  }

  .social {
    width: 2rem;
    height: 2rem;
  }

  #homepage button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: #fff;
    border: 1px solid #dfe1e6;
  }

  #homepage button i {
    font-size: 1.1rem;
  }

  #works-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  #works-section hr {
    width: 3rem;
    height: 0.25rem;
    background-color: #36b37e;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
  }

  .works-container {
    display: grid;
    grid-gap: 1.25rem;
  }

  .work {
    display: flex;
    flex-direction: column;
    border: 1px solid #dfe1e6;
    border-radius: 0.5rem;
    width: 20.125rem;
  }

  .work .img-placeholder {
    width: 20rem;
    height: 15rem;
    background-color: #ebf0ee;
  }

  .work-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .work-info h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    max-width: fit-content;
  }

  .button {
    text-decoration: none;
    background-color: #36b37e;
    padding: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0.75rem auto;
  }

  .work-info a:hover {
    background-color: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }

  .work-info a:active {
    background-color: #008552;
  }

  .button:hover {
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }

  .button:active {
    background-color: #008552;
  }

  .works-languajes-container {
    display: flex;
    justify-content: space-between;
  }

  #aboutme-section,
  .aboutme-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    min-height: 100vh;
  }

  #aboutme-section .aboutme-bg {
    background-image: url(./images/illustration-\ about\ me-\ mobile.png);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: max-content;
    padding: 2rem;
  }

  @media only screen and (min-width: 400px) {
    #aboutme-section .aboutme-bg {
      padding: 5rem 2rem;
    }
  }

  @media only screen and (min-width: 455px) {
    #aboutme-section .aboutme-bg {
      padding: 10rem 2rem;
    }
  }

  .aboutme-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebf0ee;
    width: 20rem;
    height: 22rem;
    border: 1px solid #c1c7d0;
    border-radius: 0.5rem;
    gap: 2rem;
  }

  .aboutme-card img {
    width: 8rem;
    height: 8rem;
  }

  .aboutme-card h4 {
    color: #344563;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    max-width: fit-content;
  }

  .aboutme-card ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .aboutme-card li {
    background-color: #fff;
    width: fit-content;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: #36b37e;
  }

  .input::placeholder {
    color: #091e42;
    font-size: 1rem;
  }

  #contact-form form .textarea {
    height: 7rem;
  }

  .technology-categories {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #contact-form,
  #contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
  }

  #contact-form h2 {
    text-align: center;
  }

  #contact-form .input {
    width: 20rem;
    height: 3rem;
    border: 1px solid #d0d9d4;
    border-radius: 0.25rem;
    background: #fff;
    padding: 1rem;
  }

  #contact-form #submit-button {
    border: 0;
  }
}
